a[routerLink] {
  font-family: serif;
  color: #000;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

a[routerLink] img {
  height: 2.4em;
  width: 2.4em;
  object-fit: contain;
}

a[routerLink]:hover,
a[routerLink]:focus {
  color: #000;
  text-decoration: none;
}

nav[role="navigation"] {
  padding-top: 4rem;
}
