<nav role="navigation" aria-label="main navigation">
  <div>
    <a routerLink="/">
      <img src="assets/grow-together-logo.png" alt="Grow Together Logo" />
      Grow Together
    </a>
  </div>
  <div>
    <ng-container *ngIf="isAuthenticated">
      <span>
        {{
          user?.first_name && user?.last_name
            ? user?.first_name + " " + user?.last_name
            : user?.email || ""
        }}
      </span>
      <span>|</span>
      <a href="#" (click)="logout(); $event.preventDefault()">Logout</a>
    </ng-container>
  </div>
</nav>

<app-nav *ngIf="!isAuthPage" />
