<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      routerLink="/"
      class="navbar-item has-text-weight-bold has-text-white is-size-3"
      style="cursor: pointer"
    >
      Grow Together
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <button
        *ngIf="isAuthenticated"
        (click)="logout()"
        class="button is-light has-text-weight-bold"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
